body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h3 {
    text-align: center;
}

.register, .login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
.login a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.register a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}